{% extends "base.html.twig" %}

{% block body %}
        <div class="container">
            <div class="row col-auto">
    {% for item in livres %}
                <div class="col-auto mb-5 mt-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{item.couverture}}" class="card-img-top" alt="..." width="30" height="300">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.libelle }}</h5>
                        <p class="card-text">{{ item.description[:280] ~ (item.description|length > 280 ? '...') }}</p>
                        <a href="/livre/voir/{{item.id}}" class="btn btn-primary">Voir ce livre</a>
                        {% if app.user and app.user.roles[0]=='ROLE_ADMIN' %}
                            <a href="/livre/modif/{{item.id}}" class="btn btn-secondary">Modifier le livre</a>
                        {% endif %}
                    </div>
                </div>
                </div>
    {% endfor %}
            </div>
        </div>
{% endblock %}